<html>
    <head>
        <title>Website</title>
    </head>
    <body>
        <div>
            <h1>{%block title%}To Do List{%endblock%}</h1>

        </div>
        {%block greet%}
        {%endblock%}
        <hr>
        <div id = "list", name = "list">
            {%block output%}
            {%endblock%}
        </div>
        <div>
            {%block content%}
            {%endblock%}
        </div>
        <hr>
        <h2>footer</h2>
        {%block logout%}
        {%endblock%}
    </body>
</html>