{% extends 'task0/base.html' %}

{% block output %}
    <form method="post" action= "">
        {% csrf_token %}
        {{form.as_table}}
        <button type="submit" style = "background-color:rgb(255, 229, 83); border-radius:19px;"  , name ="Add">{{submit}}</button>
    </form>
{% endblock %}

{%block content%}
    <ul>
        {%for i in ls%}
        <li>
            <input type ="checkbox", value = "clicked", name="list{{i.id}}">
            <label><a href ="{% url 'id' i.id %}">{{i.name}}</a>{{i.id}}</label>
            <br>
        </li> 
        <br>
        {%endfor%}
        <button type = "submit", name = "delete", value = "delete"> Delete </button>
        
    </ul>
{%endblock%}


